<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<script src="/js/query_node.js" type="application/javascript"></script>
<script src="/js/query_parser.js" type="application/javascript"></script>
<title>Manage</title>
<style>
  #contents {
    display: flex;
  }
  #contents aside{
    width: 200px;
  }
  #links p {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  #result table {
    border-collapse: collapse;
  }
  #result table tr th {
    background-color: #dddddd;
    border: 1px solid #aaa;
  }
  #result table tr td {
    background-color: #fbfbfb;
    border: 1px solid #aaa;
  }
</style>
<script>
const dataKey = 'aiueo';
let openedIndex = null;
function loadData() {
  let data = localStorage.getItem(dataKey);
  if (data) {
    return JSON.parse(data);
  }
  return [];
}
function saveData(data) {
  let newData = [];
  for (let row of data) {
    if (row) {
      newData.push(row);
    }
  }
  localStorage.setItem(dataKey, JSON.stringify(newData));
}
function postData(url, data) {
  const form = new URLSearchParams();
  for (let key of Object.keys(data)) {
    form.append(key, data[key]);
  }

  return fetch(url, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, cors, *same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit

    redirect: 'follow', // manual, *follow, error
    referrer: 'no-referrer', // no-referrer, *client
    body: form, // body data type must match "Content-Type" header
  })
  .then(response => {
    if (!response.ok) {
      throw response;
    }
    return response.json()
  });
}
function runQuery() {
  let sql = document.getElementById('sql').value;

  let parser = new QueryParser({});
  let tokens = parser.lexicalAnalysis(sql);
  let sqlBuff = "";
  let sqlList = [];
  for (let token of tokens) {
    if (token.startsWith("--")) {
      continue;
    }
    if (token === ";") {
      sqlList.push(sqlBuff);
      sqlBuff = "";
      continue;
    }
    sqlBuff += " " + token;
  }
  if (sqlBuff !== '') {
    sqlList.push(sqlBuff);
  }
  console.log(sqlList);
  let index = 1;
  let tables = "";
  let exeQuery = (query) => {
    postData('/query', {"sql": query}).then(result => {
      let json = result;
      let header = json["head"];
      let body = json["body"];

      let cols = header.length;
      tables += "<table>";
      tables += "<tr>";
      for (let i = 0;i < cols;i++) {
        tables += "<th>" + header[i] + "</th>";
      }
      tables += "</tr>";

      for (let row of body) {
        tables += "<tr>";
        for (let i = 0;i < cols;i++) {
          tables += "<td>" + row[i] + "</td>";
        }
        tables += "</tr>";
      }
      tables += "</table><br />";
      if (index >= sqlList.length) {
        document.getElementById('result').innerHTML = tables;
      } else {
        exeQuery(sqlList[index]);
        index++;
      }
    }).catch(function(err) {
      // console.error(err);
      err.text().then(errorMessage => {
        let json = JSON.parse(errorMessage);
        alert(json.message);
      })
    });
  };
  exeQuery(sqlList[0]);

}

function downloadCsv() {
  
}

function saveDialog() {
  let saveName = window.prompt("Enter your name : ", "");
  if (saveName) {
    let allData = loadData();
    let sql = document.getElementById('sql').value;
    allData.push({name: saveName, sql: sql});
    saveData(allData); // TODO Promise
    refreshList();
  }
}

function openLink(index) {
  let allData = loadData();
  let row = allData[index];
  openedIndex = index;
  document.getElementById('sql').value = row["sql"];
  document.getElementById('query_name').innerText = row["name"];
  document.getElementById('update_button').removeAttribute("disabled");
  document.getElementById('delete_button').removeAttribute("disabled");
  document.getElementById('download_button').removeAttribute("disabled");
}

function refreshList() {
  let allData = loadData();
  let links = "";
  for (let i = 0;i < allData.length;i++) {
    let row = allData[i];
    links += "<p onclick='openLink(" + i + ")'>" + row['name'] + "</p>";
  }
  document.getElementById('links').innerHTML = links;
}
document.addEventListener("DOMContentLoaded", () => {
  refreshList();
});

function updateQuery() {
  let allData = loadData();
  allData[openedIndex]["sql"] = document.getElementById('sql').value;
  saveData(allData);
}
function deleteQuery() {
  if (window.confirm("Are you sure to delete?")) {
    let allData = loadData();
    delete allData[openedIndex];
    saveData(allData);
    openedIndex = null;  document.getElementById('query_name').innerText = " ";

    document.getElementById('update_button').setAttribute("disabled", "disabled");
    document.getElementById('delete_button').setAttribute("disabled", "disabled");
    document.getElementById('download_button').setAttribute("disabled", "disabled");
    document.getElementById('download_button').setAttribute("disabled", "disabled");
    refreshList();
  }
}
</script>
</head>
<body>
<p>DB Management</p>
<section id="contents">
  <aside id="links">
  </aside>
  <article style="width: calc(100% - 200px); overflow: scroll;">
    <h4 id="query_name"></h4>
    <p>
      <textarea id="sql" style="width: 700px;height: 150px;"></textarea>
    </p>
    <p>
      <input type="button" onclick="runQuery()" value="Run">
      <input type="button" onclick="saveDialog()" value="Save">
      <input type="button" onclick="updateQuery()" value="Update" id="update_button" disabled="disabled">
      <input type="button" onclick="deleteQuery()" value="Delete" id="delete_button" disabled="disabled">
      <input type="button" onclick="downloadCsv()" value="CSV" id="download_button" disabled="disabled">
    </p>
    <div id="result"></div>
  </article>
</section>
</body>
</html>